.header {
  background-color: black;
}

.logoSize {
  width: 100px;
  padding: 10px;
}

.bgGray {
  background-color: #e9e9e9;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomBox {
  background-color: white;
  padding: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.loginBox {
  background-color: black;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  font-size: 20pt;
  text-align: center;

}
